<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.orangehrmlive.tc.TC1"/>
      <class name="com.orangehrmlive.tc.TC2"/>
      <class name="com.orangehrmlive.tc.TC3"/>
      <class name="com.orangehrmlive.tc.TC4"/>
      <class name="com.orangehrmlive.tc.TC5"/>
      <class name="com.orangehrmlive.tc.TC6"/>
      <class name="com.orangehrmlive.tc.TC7"/>
      <class name="com.orangehrmlive.tc.TC8"/>
      <class name="com.orangehrmlive.tc.TC9"/>
      <class name="com.orangehrmlive.tc.TC10"/>
      <class name="com.orangehrmlive.tc.TC11"/>
      <class name="com.orangehrmlive.tc.TC12"/>
      <class name="com.orangehrmlive.tc.TC13"/>
      <class name="com.orangehrmlive.tc.TC14"/>
      <class name="com.orangehrmlive.tc.TC15"/>
      	<class name="com.orangehrmlive.tc.TC16"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
